<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/syntax.css">

    <script src="/assets/js/script.js"></script>

    <title>Wayne's Portfolio</title>
</head>

<body>
    <!-- NAVBAR -->
     <!-- _includes/nav.html -->
<nav>
    <div class="left">
        <a href="/">Wayne Sudanartha</a>
    </div>

    <!-- Desktop Menu -->
    <div class="right desktop-nav">
        <a href="/">
            <span>Home</span>
        </a>
        <a href="/index.html#projects">
            <span>Projects</span>
        </a>

    </div>

    <!-- Mobile Menu Button -->
    <button class="menu-toggle" aria-label="Toggle menu">
        <i class="fa fa-bars fa-2x"></i>
    </button>

    <!-- Mobile Menu -->
    <div class="mobile-nav">
        <a href="/">
            <span>Home</span>
        </a>
        <a href="/index.html#projects">
            <span>Projects</span>
        </a>
    </div>
</nav>

<div class="page"><div class="post-view">
    <div class="summary">
        <img class="cover" src="media/cover.png">
        
        <div class="title-header">
            <h1>TITLE HERE</h1>
        </div>
        
        <div class="project-description">
            <h2>Project Description</h2>
            <p>
                PROJECT DESCRIPTION
            </p>

        </div>

        <div class="skills-card">
            <h2>Skills Used</h2> 
            <div class="skills-list">
                <span class="skill">SKILLS HERE</span>    
                <span class="skill">  </span>    

            </div>
        </div>
    </div>
    
    <div class="content">        
        <hr/>
        
        ADDITIONAL CONTENT HERE

        <figure>
            <video autoplay muted loop playsinline width="48%">
                <source src="/projects/v6-engine/media/running_engine.mp4" type="video/mp4">
            </video>

            <figcaption>CAPTION</figcaption>
        </figure>


        <div class="image-gallery" style="--gallery-height: 300px; --ar: 5/3;">
            <figure>
                <img src="/projects/v6-engine/media/drawing_engine_block.jpg"/>
                <figcaption> Drawing of engine block </figcaption>
            </figure>
            <figure>
                <img src="/projects/v6-engine/media/drawing_exhaust_manifold.jpg"/>
                <figcaption> Drawing of exhaust manifold </figcaption>
            </figure>
        </div>
    </div>

    <table>
    <thead>
        <tr>
        <th>Header 1</th>
        <th>Header 2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>Row 1, Col 1</td>
        <td>Row 1, Col 2</td>
        </tr>
        <tr>
        <td>Row 2, Col 1</td>
        <td>Row 2, Col 2</td>
        </tr>
    </tbody>
    </table>
</div></div>

     
</body>

</html>